section {
    width: 410px;
    height: 410px;
    padding: 20px;
    margin: 20px;
    border: 9px;
    text-align: center;
    border: 15px solid black;
}

img {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    
    /* Margin property */
    
    /* Padding property */
    
    /* Border property */
    
}