/* Universal Selector will universially apply */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Element Selector */
h1 {
    color: blue;
}
/* Element Selector */
p {
    margin: 10px 0;
}
/* Element Selector */
ul {
    margin: 20px 0;
    padding-left: 20px;
}
/* Element Selector */
li {
    margin: 5px 0;
}
/* This is an element selector. Only this section with apply the selector rule */
a {
    color: green;
}

/* Class Selector. This class selector will only apply this rule in the braces when the when the class=highlight on the the index.html */
.highlight {
    background-color: yellow;
    font-weight: bold;
}
/* This is another Class Selector */
.special {
    color: purple;
}

/* ID Selector. This is selector will apply when prefixed with a hashtag */
#uniqueDiv {
    color: red;
    font-size: 20px;
}